:root {
    --primary: #00ff9d;
    --secondary: #00b4ff;
    --dark: #121212;
    --darker: #0a0a0a;
    --light: #e0e0e0;
    --gray: #333;
    --light-gray: #444;
    --danger: #ff3e3e;
    --success: rgb(0, 255, 157);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Source Code Pro', monospace;
    background-color: var(--dark);
    color: var(--light);
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 20px;

}

.logo {
    background:linear-gradient(to right var(--primary), var(--secondary));
    padding: 0; /* ⚠️ Alerta de Over-engineered. Verificar se realmente precisa tirar esse padding */
    margin: 0; /* ⚠️  Alerta de Over-engineered. Verificar se realmente precisa tirar esse margin */
    padding-right: auto;  /* ⚠️  Alerta de Over-engineered. Esse padding nao tá causando efeito nenhum. todo texto inicia da esquerda para direita */
    color: var(--primary);
    text-align: left;  /* ⚠️Alerta de Over-engineered.  Este codigo é redundante já que por default todo text-align é left, ja que nao centraliza ele ou empurra */


}

.container_cards::-webkit-scrollbar {
    width: 10px;
}

.container_cards::-webkit-scrollbar-track {
    background: var(--gray);
    border-radius: 10px;
}

.container_cards::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
    border: 2px solid var(--dark);
}

.container_cards::-webkit-scrollbar {
    width: 8px;
}

.container_cards::-webkit-scrollbar-track {
    background: var(--gray);
    border-radius: 10px;
}

.container_cards::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--primary);
}

.container_cards {
    background: var(--dark);
    height: 700px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 750px;

}

.cards {
    background-color: var(--darker);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 25px 25px;  /* Ajustar trecho do codigo. O padding tem 4 propriedades top right bottom left, dessa forma, além de, talvez nao funcionar como esperado, causa confusão na leitura */
    border-radius: 10px;
    width: 700px;
    gap: 7px;
    border-left: 3px solid #00ff9d; /* TODO utilizar variavel de cor ja existente */
    transition: all 0.5s ease;
}
.linha {
    height: 2px;
    width: 100%;
    max-width: 700px;
    margin: 10px 30px;
    background: linear-gradient(); /* TODO esse codigo nao tem efeito */
    border-radius: 10px;
    box-shadow:  /* TODO ajustar para a mesma linha */
    0 0 5px var(--light)
  
}

.cards h2 {
    text-align: left;
    width: 100%;
    font-family: 'Source Code Pro', monospace; /* TODO essa fonte ja está declarada no body */
    color: #00ff9d; /* TODO utilizar variavel de cor ja existente */
}

.cards p:nth-child(2) {
    text-align: left;
    width: 100%;
    color: #00b4ff; /* TODO utilizar variavel de cor ja existente */
}

.cards p:nth-child(3) {
    text-align: left;
    width: 100%;
}

.cards:hover {
  transform: translateX(4px);
  box-shadow: -5px 0 4px -3px #00ff9d; /* TODO utilizar variavel de cor ja existente */
}

.large-font {
    display: flex;
    align-items: center;
    font-size: x-large;
}

.top-20 {
    position: relative;
}

.btn-like-comment {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

ion-icon.active {
    animation: like 0.5s 1;
    fill: var(--danger);
}

ion-icon {
    fill: var(--light);
    transition: all 0.5s;
    cursor: pointer;
}

ion-icon:hover {
    fill: var(--primary);
}

ion-icon.active:hover {
    animation: like 0.5s 1;
    fill: var(--danger);
}

@keyframes like {
    0% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }
}

.post-modal {
    background-color: var(--dark);
    position: absolute;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 255, 157, 0.2) 0px 0px 20px; 
    width: 575px;
    height: 725px;
    gap: 20px;
    /* z-index: 101; */
}

.post-modal h2 {
    color: var(--primary);
    width: 100%;
    text-align: left;
}

#inner-line {
    width: 100%;      
    height: 1px;      
    background-color: var(--light); 
    margin: 10px 0;  
}

#original-post{
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 12px 12px 50px 12px;
    border-radius: 10px;
    width: 100%;
    border-left: 3px solid var(--secondary);
}

#comments {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    scrollbar-width: none;
    gap: 10px;
}

#comment-card {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    gap: 5px;
}

#comment-card p:nth-child(1) {
    color: var(--secondary);
}

#comment-card p {
    color: var(--light);
}


#original-post p:nth-child(2) {
    color: var(--secondary);
}

#write-comment {
    width: 100%;
    margin-top: auto;
}

#write-comment h3 {
    color: var(--secondary);
}

#ipt-comment {
    width: 100%;
    background-color: var(--light-gray);
    border: 0;
    padding: 15px 25px 35px 25px;
    border-radius: 5px;
}